* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    padding: 10px 25px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(182, 182, 182, 0.692);
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.menu {
    display: none;
}

.navbar__s1 {
    display: flex;
    align-items: center;
}


.navbar__s1 img {
    height: 33px;
    width: 96px;
}

.navbar__s2 {
    padding: 15px;
    border: 1px solid #90919C;
    border-radius: 30px;
    width: 70%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 14px;
    background-color: transparent;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 25px;
    align-items: center;

}

/* .navbar__s3 p, i{
     border: 1px solid rgb(255, 255, 255);
}
 */

.navbar__s3 p:hover {
    background-color: #EDE5F9;
    padding: 8px;
    border-radius: 5px;
}

.navbar__s3 i:hover {
    background-color: #EDE5F9;
    padding: 10px;
    border-radius: 5px;
}

.navbar__s3 p {
    color: #303141;
    font-size: 15px;
}

.navbar__s4 {
    display: none;
}

/* .navbar__s3 :hover {
    background-color: #EDE5F9;
    padding: 10px;
    border-radius: 5px;
} */


/* .navbar__s3 .mylearning:hover{
 background-color: #EDE5F9;
 padding: 0;
} */

.navbar__s1 img,
.navbar__s3 :hover {
    cursor: pointer;
}

/* My Learning popup */


.mylearning {
    position: relative;
}

.mylearning__popup {
    position: absolute;
    width: 100px;
    background-color: white;
    padding: 10px 0 10px 20px;
    box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.316);
    border-top: 2px solid rgba(158, 158, 158, 0..95);
    border-left: 2px solid rgba(158, 158, 158, 0..95);
    right: 0;
    top: 140%;
    display: none;
}

.mylearning:hover .mylearning__popup {
    display: block;
}


/* categories section */

.categories {
    display: flex;
    padding: 15px;
    border-bottom: 2px solid rgba(127, 121, 135, 0.167);
    justify-content: space-evenly;
    /* border-bottom: 1px solid #cdcdd5; */
}

.categories p {
    color: #303141;
    font-size: 15px;
    padding: 10px 15px 10px 15px;
    text-align: center;
    /* background-color:#892DE1;
    color: white; */
    background-color: #f3e9fd;
    border: 1px solid #ba7bf5;
    border-radius: 30px;
    /* border: 3px solid rgba(238, 232, 232, 0.19); */
}




.categories :hover {
    cursor: pointer;
    transition: 1s;
    color: #000000;
    border: 1px solid #f1e9f1;
    /* color: #111116; */
    /* border: 3px solid rgba(238, 232, 232, 0.19); */
    background-color: #ddbee4c2;
}

/* Sale section */

.sale-image img {
    width: 100%;
}

.sale-image {
    position: relative;
}

.sale-image__offer {
    width: 27%;
    background-color: white;
    padding: 15px;
    position: absolute;
    top: 20%;
    left: 95px;
    border-top: 3px solid #f2f3f8e4;
    border-left: 3px solid #f2f3f8e7;
    box-shadow: 3px 3px 5px #d3d4dcac;
    /* animation-name: zoom;
animation-duration: 3s;
opacity: 0;
animation-fill-mode: forwards; */
}

/* @keyframes zoom {
    0%{
transform: scale(0);
opacity: 0;
    }

    100%{
transform: scale(1);
opacity: 1;
    }
} */



.sale-image__offer h1 {
    padding: 10px 10px 0 10px;
    color: #2A2B3F;
}

.sale-image__offer p {
    color: #2A2B3F;
    padding: 10px;
}

.sale-image__offer button {
    background-color: #892DE1;
    color: white;
    padding: 10px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 5px;
}




/* Recommended section */

.recommended {
    padding: 10px;
}

.recommended__title {
    margin: 15px 0 0 30px;
}

.recommended__subtitle {
    margin: 5px 0px 0px 30px;
    font-size: 14px;
}

.recommended__container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

.course-card1,
.course-card2,
.course-card3,
.course-card4,
.course-card5 {
    width: 240px;
    /* flex-grow: 1;
    flex-basis: 15%; */
    /* gap: 5px; */
    height: 295px;
    border-top: 1px solid #f4f6fe;
    border-left: 1px solid #f4f6fe;
    box-shadow: 2px 2px 8px #d9dce7;
    padding: 10px;
    margin-top: 15px;

}

.course-card1 img,
.course-card2 img,
.course-card3 img,
.course-card4 img,
.course-card5 img {
    height: 45%;
    width: 100%;
    margin-bottom: 10px;
}

.course-card1 h3,
.course-card2 h3,
.course-card3 h3,
.course-card4 h3,
.course-card5 h3,
.recommended__title,
.recommended__subtitle,
.popular__title,
.popular__subtitle {
    color: #303141;
}

.course-card__p1 {
    font-size: 14px;
    font-weight: lighter;
    color: #666464;
    padding-top: 8px;
}

.course-card__p2 {
    margin-top: 5px;
    color: #8B4309;
}

.course-card__p2 span {
    font-size: 10px;
}

.course-card__p3 {
    font-weight: bolder;
    padding-top: 8px;
}

.course-card__p3 del {
    font-weight: lighter;
    color: #5d5d5d;
}



/* topics section */

.topics {
    padding: 0 10px 0 10px;
    margin-top: 20px;
}

.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5px 20px 0 20px;
}

.topics__title {
    color: #303141;
    margin-bottom: 15px;
    margin-top: 30px;
    margin-left: 15px;
}

.topics__container p {
    border: 1px solid #90919C;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    color: #303141;
}


/* popular section */
.popular {
    padding: 10 10px 10px 10px;
    margin-top: 30px;

}

.popular__title {
    margin: 20px 0 0 30px;
}

.popular__subtitle {
    margin: 5px 0px 15px 30px;
    font-size: 14px;
}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 20px 30px 20px;
    gap: 20px;

}

.popular__course-card1,
.popular__course-card2,
.popular__course-card3,
.popular__course-card4,
.popular__course-card5,
.popular__course-card6,
.popular__course-card7,
.popular__course-card8,
.popular__course-card9,
.popular__course-card10 {
    width: 240px;
    height: 295px;
    border-top: 1px solid #f4f6fe;
    border-left: 1px solid #f4f6fe;
    box-shadow: 2px 2px 8px #d9dce7;
    padding: 10px;
    margin-top: 20px;
}

.popular__course-card1 img,
.popular__course-card2 img,
.popular__course-card3 img,
.popular__course-card4 img,
.popular__course-card5 img,
.popular__course-card6 img,
.popular__course-card7 img,
.popular__course-card8 img,
.popular__course-card9 img,
.popular__course-card10 img {
    height: 45%;
    width: 100%;
}




/* Footer Section */

.footer-section {
    margin-top: 5%;
}

.footer__s1 {
    background-color: #1D1E27;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 20px 45px;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.footer__s1__one p {
    padding-top: 10px;
    font-weight: lighter;
}

.footer__s1__two {
    border: 1px solid rgb(229, 229, 229);
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
}

.footer__s2 {
    background-color: #1D1E27;
    color: #FFFFFF;
    padding: 40px 45px;
}

.footer__s2__subdiv {
    display: flex;
    flex-wrap: wrap;
}

.subdiv__1,
.subdiv__2,
.subdiv__3,
.subdiv__4,
.subdiv__5,
.subdiv__6,
.subdiv__7,
.subdiv__8 {
    width: 350px;
    margin-top: 30px;
}

.subdiv__1__sec1 h4,
.subdiv__2__sec1 h4,
.subdiv__3__sec1 h4,
.subdiv__4__sec1 h4,
.subdiv__5__sec1 h4,
.subdiv__6__sec1 h4,
.subdiv__7__sec1 h4,
.subdiv__8__sec1 h4 {
    margin-bottom: 15px;
    font-size: 18px;
}

.subdiv__1__sec1 i {
    display: none;
}

.subdiv__1 a,
.subdiv__2 a,
.subdiv__3 a,
.subdiv__4 a,
.subdiv__5 a,
.subdiv__6 a,
.subdiv__7 a,
.subdiv__8 a {
    font-size: 14px;
    color: rgb(229, 229, 229);
    padding-top: 10px;
    text-decoration: none;
    display: block;
}


.subdiv__1 a:hover {
    text-decoration: underline;
}

.subdiv__2 a:hover {
    text-decoration: underline;
}

.subdiv__3 a:hover {
    text-decoration: underline;
}

.subdiv__4 a:hover {
    text-decoration: underline;
}

.subdiv__5 a:hover {
    text-decoration: underline;
}

.subdiv__6 a:hover {
    text-decoration: underline;
}

.subdiv__7 a:hover {
    text-decoration: underline;
}

.subdiv__8 a:hover {
    text-decoration: underline;
}

.footer__s3 {
    background-color: #111116;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 20px 45px;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.footer__s3__subdiv {
    display: flex;
    flex-wrap: wrap;
}

.f3__subdiv__1,
.f3__subdiv__2,
.f3__subdiv__3,
.f3__subdiv__4 {
    width: 350px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.f3__subdiv__1 h4,
.f3__subdiv__2 h4,
.f3__subdiv__3 h4,
.f3__subdiv__4 h4 {
    margin-bottom: 15px;
    font-size: 18px;
}

.f3__subdiv__1 a,
.f3__subdiv__2 a,
.f3__subdiv__3 a,
.f3__subdiv__4 a {
    font-size: 14px;
    color: rgb(229, 229, 229);
    padding-top: 10px;
    text-decoration: none;
    display: block;
}

.f3__subdiv__1 a:hover {
    text-decoration: underline;
}

.f3__subdiv__2 a:hover {
    text-decoration: underline;
}

.f3__subdiv__3 a:hover {
    text-decoration: underline;
}

.f3__subdiv__4 a:hover {
    text-decoration: underline;
}


.f4__subdiv__1 h1,
.f4__subdiv__1 p,
.f4__subdiv__2,
.f4__subdiv__3 {
    color: white;
}

.f4__subdiv__1 span {
    font-size: 20px;
    vertical-align: middle;
}

.footer__s4 {
    background-color: #111116;
}

.footer__s4__subdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;

}

.f4__subdiv__1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.f4__subdiv__1 p {
    margin-top: 10px;
    margin-left: 20px;
}


/* MEDIA QUERIES */

@media screen and (min-width:1150px) {
    .sale-image__offer {
        top: 60px;
        left: 45px;
        width: 35%;
        padding: 3%;
    }


    .course-card1,
    .course-card2,
    .course-card3,
    .course-card4,
    .course-card5 {
        width: 16%;
        height: 350px;
    }

    .popular__course-card1,
    .popular__course-card2,
    .popular__course-card3,
    .popular__course-card4,
    .popular__course-card5,
    .popular__course-card6,
    .popular__course-card7,
    .popular__course-card8,
    .popular__course-card9,
    .popular__course-card10 {

        width: 16%;
        height: 350px;
    }

    .footer__s2 h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .subdiv__1,
    .subdiv__2,
    .subdiv__3,
    .subdiv__4,
    .subdiv__5,
    .subdiv__6,
    .subdiv__7,
    .subdiv__8 {
        font-size: 10px;
        width: 20%;
        flex-grow: 1;
        margin: 20px;
    }

    .f3__subdiv__1,
    .f3__subdiv__2,
    .f3__subdiv__3,
    .f3__subdiv__4 {
        flex-basis: 20%;
        margin: 20px;
    }

}

/* --------------------------------------------------- */

@media screen and (min-width:900px) and (max-width:1149px) {
    body {
        font-size: 12px;
    }

    .sale-image__offer {
        height: 130px;
        width: 300px;
        padding: 15px;
        position: absolute;
        top: 60px;
        left: 40px;

    }

    .sale-image__offer h1 {
        font-size: 18px;
    }

    .sale-image__offer p {
        font-size: 12px;
    }

    .sale-image__offer button {
        font-size: 12px;
        padding: 5px;
        margin-top: 10px;
    }

    .course-card1,
    .course-card2,
    .course-card3,
    .course-card4 {
        width: 20%;
        height: 300px;

    }

    .course-card5 {
        display: none;
    }

    .course-card1 img,
    .course-card2 img,
    .course-card3 img,
    .course-card4 img {
        height: 45%;
    }

    .popular__course-card1,
    .popular__course-card2,
    .popular__course-card3,
    .popular__course-card4,
    .popular__course-card5,
    .popular__course-card6,
    .popular__course-card7,
    .popular__course-card8 {
        flex-basis: 20%;
    }

    .popular__course-card9,
    .popular__course-card10 {
        display: none;
    }

    .popular_course-card1 img,
    .popularcourse-card2 img,
    .popularcourse-card3 img,
    .popularcourse-card4 img,
    .popularcourse-card5 img,
    .popularcourse-card6 img,
    .popularcourse-card7 img,
    .popularcourse-card8 img {
        height: 45%;
    }


    .footer__s1 {
        font-size: 16px;
    }

    .footer__s2 h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .subdiv__1,
    .subdiv__2,
    .subdiv__3,
    .subdiv__4,
    .subdiv__5,
    .subdiv__6,
    .subdiv__7,
    .subdiv__8 {
        font-size: 10px;
        width: 20%;
        flex-grow: 1;
        margin: 20px;
    }

    .f3__subdiv__1,
    .f3__subdiv__2,
    .f3__subdiv__3,
    .f3__subdiv__4 {
        flex-basis: 20%;
        margin: 20px;
    }
}

/* -------------------------------------------------------------- */

@media screen and (min-width:800px) and (max-width:899px) {
    .body {
        font-size: 12px;
    }

    .sale-image__offer {
        top: 25px;
        left: 25px;
        width: 30%;

    }

    .sale-image__offer h1 {
        font-size: 18px;
    }

    .sale-image__offer p {
        font-size: 12px;
    }

    .sale-image__offer button {
        font-size: 12px;
        padding: 5px;
        margin-top: 10px;
    }


    .course-card1,
    .course-card1,
    .course-card3 {
        width: 28%;
    }

    .course-card4,
    .course-card5 {
        display: none;
    }

    .popular__course-card1,
    .popular__course-card2,
    .popular__course-card3,
    .popular__course-card4,
    .popular__course-card5,
    .popular__course-card6,
    .popular__course-card7,
    .popular__course-card8,
    .popular__course-card9 {
        width: 28%;
    }

    .popular__course-card10 {
        display: none;
    }



    .footer__s2 h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .subdiv__1,
    .subdiv__2,
    .subdiv__3,
    .subdiv__4,
    .subdiv__5,
    .subdiv__6,
    .subdiv__7,
    .subdiv__8 {
        font-size: 10px;
        width: 20%;
        flex-grow: 1;
        margin: 15px;
    }

    .f3__subdiv__1,
    .f3__subdiv__2,
    .f3__subdiv__3,
    .f3__subdiv__4 {
        flex-basis: 20%;
        margin: 15px;
    }

}

/* --------------------------------------------- */

@media screen and (min-width:700px) and (max-width:799px) {
    .body {
        font-size: 12px;
    }

    .menu,
    .navbar__s4 {
        display: block;
    }

    .navbar__s2,
    .navbar__s3 {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        border-bottom: 4px solid rgba(158, 158, 168, 0.149);
    }

    .navbar__s4 i {
        margin-left: 10px;
    }

    .categories {
        display: none;
    }


    .sale-image__offer {
        position: relative;
        width: 85%;
        box-shadow: none;
        border: 0;
        left: auto;

        margin-left: 10px;
        height: 100px;
        top: 20px;
        margin-bottom: 10px;
    }

    .sale-image__offer h1 {
        font-size: 18px;
    }

    .sale-image__offer p {
        font-size: 12px;
    }

    .sale-image__offer button {
        font-size: 10px;
        padding: 5px;
        margin-top: 10px;
    }

    .sale-image {
        height: fit-content;
    }




    .course-card1,
    .course-card2,
    .course-card3 {
        width: 28%;
        height: 320px;
    }

    .course-card1 h3,
    .course-card2 h3,
    .course-card3 h3,
    .course-card4 h3 {
        font-size: 16px;
    }

    .course-card4,
    .course-card5 {
        display: none;
    }

    .popular__course-card1,
    .popular__course-card2,
    .popular__course-card3,
    .popular__course-card4,
    .popular__course-card5,
    .popular__course-card6,
    .popular__course-card7,
    .popular__course-card8,
    .popular__course-card9 {
        width: 28%;
    }

    .popular__course-card10 {
        display: none;
    }

    .popular__course-card1 h3,
    .popular__course-card2 h3,
    .popular__course-card3 h3,
    .popular__course-card4 h3,
    .popular__course-card5 h3,
    .popular__course-card6 h3,
    .popular__course-card7 h3,
    .popular__course-card8 h3,
    .popular__course-card9 h3 {
        margin-top: 10px;
        font-size: 14px;
    }


    .footer__s2 h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .subdiv__1,
    .subdiv__2,
    .subdiv__3,
    .subdiv__4,
    .subdiv__5,
    .subdiv__6,
    .subdiv__7,
    .subdiv__8 {
        font-size: 10px;
        width: 20%;
        flex-grow: 1;
        margin: 15px;
    }

    .f3__subdiv__1,
    .f3__subdiv__2,
    .f3__subdiv__3,
    .f3__subdiv__4 {
        flex-basis: 20%;
        margin: 15px;
    }

}

/* ------------------------------------------- */

@media screen and (min-width:600px) and (max-width:699px) {

    .body {
        font-size: 10px;
    }

    .menu,
    .navbar__s4 {
        display: block;
    }

    .navbar__s2,
    .navbar__s3 {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        border-bottom: 4px solid rgba(158, 158, 168, 0.149);
    }

    .navbar__s4 i {
        margin-left: 10px;
    }

    .categories {
        display: none;
    }


    .sale-image__offer {
        position: relative;
        width: 85%;
        box-shadow: none;
        border: 0;
        left: auto;

        margin-left: 10px;
        height: 100px;
        top: 20px;
        margin-bottom: 10px;
    }

    .sale-image__offer h1 {
        font-size: 18px;
    }

    .sale-image__offer p {
        font-size: 12px;
    }

    .sale-image__offer button {
        font-size: 10px;
        padding: 5px;
        margin-top: 10px;
    }

    .sale-image {
        height: fit-content;
    }



    .recommended__title,
    .topics__title,
    .popular__title {
        font-size: 18px;
    }

    .course-card1 h3,
    .course-card2 h3,
    .course-card3 h3,
    .course-card4 h3 {
        font-size: 14px;
    }

    .course-card1,
    .course-card2,
    .course-card3,
    .course-card4 {
        width: 42%;
        height: 280px;
    }

    .course-card5 {
        display: none;
    }

    .course-card1 img,
    .course-card2 img,
    .course-card3 img,
    .course-card4 img {
        height: 150px;
    }

    .popular__course-card1 img,
    .popular__course-card2 img,
    .popular__course-card3 img,
    .popular__course-card4 img,
    .popular__course-card5 img,
    .popular__course-card6 img,
    .popular__course-card7 img,
    .popular__course-card8 img,
    .popular__course-card9 img,
    .popular__course-card10 img {
        height: 150px;
    }

    .popular__course-card1 h3,
    .popular__course-card2 h3,
    .popular__course-card3 h3,
    .popular__course-card4 h3,
    .popular__course-card5 h3,
    .popular__course-card6 h3,
    .popular__course-card7 h3,
    .popular__course-card8 h3,
    .popular__course-card9 h3,
    .popular__course-card10 h3 {
        margin-top: 10px;
        font-size: 14px;
        color: #1D1E27;
    }

    .popular__course-card1,
    .popular__course-card2,
    .popular__course-card3,
    .popular__course-card4,
    .popular__course-card5,
    .popular__course-card6,
    .popular__course-card7,
    .popular__course-card8,
    .popular__course-card9,
    .popular__course-card10 {
        width: 42%;
        height: 280px;
    }

    .footer-section {
        margin-top: 10%;
    }

    .subdiv__1 a,
    .subdiv__2 a,
    .subdiv__3 a,
    .subdiv__4 a,
    .subdiv__5 a,
    .subdiv__6 a,
    .subdiv__7 a,
    .subdiv__8 a {
        display: none;
    }

    .subdiv__1,
    .subdiv__2,
    .subdiv__3,
    .subdiv__4,
    .subdiv__5,
    .subdiv__6,
    .subdiv__7,
    .subdiv__8 {
        border-bottom: 1px solid white;
        width: 98%;
        padding: 0 0 8px 0;
        margin-bottom: 0;

    }

    .subdiv__1__sec1 {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-right: 10px;
    }

    .subdiv__1__sec1 i {
        display: block;
    }

    .subdiv__1__sec1 h4 {
        font-size: 14px;
    }

    .f3__subdiv__1,
    .f3__subdiv__2,
    .f3__subdiv__3,
    .f3__subdiv__4 {
        flex-basis: 20%;
        margin: 5px;
        flex-grow: 1;
    }

}

/* ------------------------------------------------------- */

@media screen and (min-width:425px) and (max-width:599px) {
    .body {
        font-size: 10px;
    }

    .menu,
    .navbar__s4 {
        display: block;
    }

    .navbar__s2,
    .navbar__s3 {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        border-bottom: 4px solid rgba(158, 158, 168, 0.149);
    }

    .navbar__s4 i {
        margin-left: 10px;
    }

    .categories {
        display: none;
    }


    .sale-image__offer {
        position: relative;
        width: 85%;
        box-shadow: none;
        border: 0;
        left: auto;

        margin-left: 10px;
        height: 100px;
        top: 20px;
        margin-bottom: 10px;
    }

    .sale-image__offer h1 {
        font-size: 18px;
    }

    .sale-image__offer p {
        font-size: 12px;
    }

    .sale-image__offer button {
        font-size: 10px;
        padding: 5px;
        margin-top: 10px;
    }

    .sale-image {
        height: fit-content;
    }



    .recommended__title,
    .topics__title,
    .popular__title {
        font-size: 18px;
    }

    .course-card1 h3,
    .course-card2 h3,
    .course-card3 h3,
    .course-card4 h3 {
        font-size: 14px;
    }

    .course-card1,
    .course-card2,
    .course-card3,
    .course-card4 {
        width: 42%;
        height: 280px;
    }

    .course-card5 {
        display: none;
    }

    .popular__course-card1 h3,
    .popular__course-card2 h3,
    .popular__course-card3 h3,
    .popular__course-card4 h3,
    .popular__course-card5 h3,
    .popular__course-card6 h3,
    .popular__course-card7 h3,
    .popular__course-card8 h3,
    .popular__course-card9 h3,
    .popular__course-card10 h3 {
        margin-top: 10px;
        font-size: 14px;
        color: #1D1E27;
    }

    .popular__course-card1,
    .popular__course-card2,
    .popular__course-card3,
    .popular__course-card4,
    .popular__course-card5,
    .popular__course-card6,
    .popular__course-card7,
    .popular__course-card8,
    .popular__course-card9,
    .popular__course-card10 {
        width: 42%;
        height: 280px;
    }

    .footer-section {
        margin-top: 10%;
    }

    .subdiv__1 a,
    .subdiv__2 a,
    .subdiv__3 a,
    .subdiv__4 a,
    .subdiv__5 a,
    .subdiv__6 a,
    .subdiv__7 a,
    .subdiv__8 a {
        display: none;
    }

    .subdiv__1,
    .subdiv__2,
    .subdiv__3,
    .subdiv__4,
    .subdiv__5,
    .subdiv__6,
    .subdiv__7,
    .subdiv__8 {
        border-bottom: 1px solid white;
        width: 98%;
        padding: 0 0 8px 0;
        margin-bottom: 0;

    }

    .subdiv__1__sec1 {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-right: 10px;
    }

    .subdiv__1__sec1 i {
        display: block;
    }

    .subdiv__1__sec1 h4 {
        font-size: 14px;
    }

    .f3__subdiv__1,
    .f3__subdiv__2,
    .f3__subdiv__3,
    .f3__subdiv__4 {
        flex-basis: 20%;
        margin: 5px;
        flex-grow: 1;
    }


}

/* ----------------------------------------------------------------- */

@media screen and (min-width:280px) and (max-width:424px) {
    .body {
        font-size: 10px;
    }

    .menu,
    .navbar__s4 {
        display: block;
    }

    .navbar__s2,
    .navbar__s3 {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        border-bottom: 4px solid rgba(158, 158, 168, 0.149);
    }

    .navbar__s4 i {
        margin-left: 10px;
    }

    .categories {
        display: none;
    }


    .sale-image__offer {
        position: relative;
        width: 85%;
        box-shadow: none;
        border: 0;
        left: auto;
        -ms-zoom-animation: none;
        margin-left: 10px;
        height: 100px;
        top: 20px;
        margin-bottom: 10px;
    }

    .sale-image__offer h1 {
        font-size: 18px;
    }

    .sale-image__offer p {
        font-size: 12px;
    }

    .sale-image__offer button {
        font-size: 10px;
        padding: 5px;
        margin-top: 10px;
    }

    .sale-image {
        height: fit-content;
    }



    .recommended__title,
    .topics__title,
    .popular__title {
        font-size: 18px;
    }

    .course-card1 h3,
    .course-card2 h3,
    .course-card3 h3,
    .course-card4 h3 {
        font-size: 14px;
    }

    .course-card1,
    .course-card2,
    .course-card3,
    .course-card4 {
        width: 70%;
        height: 280px;
    }

    .course-card5 {
        display: none;
    }

    .popular__course-card1 h3,
    .popular__course-card2 h3,
    .popular__course-card3 h3,
    .popular__course-card4 h3,
    .popular__course-card5 h3,
    .popular__course-card6 h3,
    .popular__course-card7 h3,
    .popular__course-card8 h3,
    .popular__course-card9 h3,
    .popular__course-card10 h3 {
        margin-top: 10px;
        font-size: 12px;
        color: #1D1E27;
    }

    .popular__course-card1,
    .popular__course-card2,
    .popular__course-card3,
    .popular__course-card4,
    .popular__course-card5,
    .popular__course-card6,
    .popular__course-card7,
    .popular__course-card8,
    .popular__course-card9,
    .popular__course-card10 {
        width: 70%;
        height: 280px;
    }

    .footer-section {
        margin-top: 10%;
    }

    .subdiv__1 a,
    .subdiv__2 a,
    .subdiv__3 a,
    .subdiv__4 a,
    .subdiv__5 a,
    .subdiv__6 a,
    .subdiv__7 a,
    .subdiv__8 a {
        display: none;
    }

    .subdiv__1,
    .subdiv__2,
    .subdiv__3,
    .subdiv__4,
    .subdiv__5,
    .subdiv__6,
    .subdiv__7,
    .subdiv__8 {
        border-bottom: 1px solid white;
        width: 98%;
        padding: 0 0 8px 0;
        margin-bottom: 0;

    }

    .subdiv__1__sec1 {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-right: 10px;
    }

    .subdiv__1__sec1 i {
        display: block;
    }

    .subdiv__1__sec1 h4 {
        font-size: 14px;
    }

    .f3__subdiv__1,
    .f3__subdiv__2,
    .f3__subdiv__3,
    .f3__subdiv__4 {
        flex-basis: 20%;
        margin: 5px;
        flex-grow: 1;
    }


}